<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49087768493-jni0uhh63iim7qsrmpm985uh75mu7rjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49087768493-jni0uhh63iim7qsrmpm985uh75mu7rjm</string>
	<key>API_KEY</key>
	<string>AIzaSyAz3EahYJREIYCPdavSvms9o2Szr0Jf_5U</string>
	<key>GCM_SENDER_ID</key>
	<string>49087768493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BobbyKeffury.PCG</string>
	<key>PROJECT_ID</key>
	<string>perfect-closing-gift</string>
	<key>STORAGE_BUCKET</key>
	<string>perfect-closing-gift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49087768493:ios:e7dff6336dd3b3f8a2a324</string>
</dict>
</plist>